
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #ed3b43;
  --secondary: #ffe119;
  --font-family-title: 'Spartan', sans-serif;
  --border-radius: 9px;
  --border-r-buttom:18px;
  --header-color: #2d2d43;
  --text-primary: #2d2d43;
}


/* ======== BANNER =========== */

.banner{
  padding: 2rem;
  background-color: var(--primary);
  h5{
    color: var(--secondary);
    font-weight: 100;
    letter-spacing: -1px;
  }
  h1{
    font-family: 'sans-serif';
    color: white;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 8px;
  }
}
.btn-banner{
  background-color: var(--secondary);
  color: var(--text-primary);
  text-transform: capitalize;
  border-radius: var(--border-r-buttom);
  -webkit-border-radius: var(--border-r-buttom);
  -moz-border-radius: var(--border-r-buttom);
  -ms-border-radius: var(--border-r-buttom);
  -o-border-radius: var(--border-r-buttom);
}




.combos-nuevos {
  background-color: white;
  padding: 5rem 0;
}

.owl-cards {
  h4 {
    font-size: 20px;
    font-weight: 600;
  }
  p {
    font-weight: 600;
    line-height: 20px;
    margin: 20px 0 25px;
  }

  .ite {
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
  }

  .owl-cards-item {
    border-radius: var(--border-radius);
    padding: 1rem;
    transition: 0.4s ease-in-out;

    &:hover {
      background-color: var(--primary);
      color: white;
    }

    &:hover .ordenar {
      background-color: white;
      color: var(--primary);
    }

    .ordenar {
      border-radius: var(--border-r-buttom);
      background-color: var(--primary);
      color: white;
      transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -ms-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      -webkit-border-radius: var(--border-r-buttom);
      -moz-border-radius: var(--border-r-buttom);
      -ms-border-radius: var(--border-r-buttom);
      -o-border-radius: var(--border-r-buttom);
    } 
    .owl-cards-image img {
      border-radius: var(--border-radius);
      -webkit-border-radius: var(--border-radius);
      -moz-border-radius: var(--border-radius);
      -ms-border-radius: var(--border-radius);
      -o-border-radius: var(--border-radius);
    }
  }
}



@media (max-width: 768px) {
  button.owl-next {
    right: 0px;
  }
}
button.owl-next {
     right: -50px;
}

@media (max-width: 768px) {
  button.owl-prev {
    left: 0px;
  }
}

button.owl-prev {
  left: -50px;
}

button.owl-next,
button.owl-prev {
  position: absolute;
  bottom: 50%;
}

.owl-theme {
  .owl-dots {
    .owl-dot.active span,
    .owl-dot:hover span {
      background: var(--primary);
    }
    padding: 1rem 0;

    .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
      background: var(--primary);
    }
    /*     span{
      width: 12px;
      height: 12px;
    } */
  }

  .owl-nav {
    display: none;
  }

  .owl-nav [class*="owl-"] {
    color: #333;
    font-size: 35px;
    margin: 0px;
    width: 50px;
    background: rgba(255, 255, 255, 0.15);
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }

  .owl-nav [class*="owl-"]:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: black;
    opacity: 1;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s ease-in-out;
  }
}

/* .owl-theme .owl-dots {
  .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 0px;
    padding: 1px 6px;
    background: #999;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 50%;
    position: relative;
  }
  &:hover span {
    background: var(--primary);
  }
} */
#menu{
  .card-title{
    font-weight: bold;
  }
  .card-btn{
    border: 2px solid var(--primary);
    background-color: var(--primary);
    &:hover {
      background-color: white;
    }
    background-color: var(--primary);
    &:hover a{
      color: var(--primary);

    }
  }
  a{
    color: white;
  }
  span{
    font-weight: 500;
    color: var(--primary);
  }
}


#contact{
  background-image: url("../img/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2d2d43;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
  h3{
    color: var(--primary);
    font-weight: bold;
  }
  .cards-price{
    display: block;
  }

  
  /*   h1{
    float: left;
  } */
  
        
}



.linea-vertical{
  width:2px;
  background-color:white;
  position:absolute;
  height: auto;
  top:0;
  bottom:0;
}

/* .outer {
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
} */
.inner {
 
  width:100%;
  height: 40%;
  background: grey;
  top: 30%;
  box-shadow: 0px 0px 30px 20px grey;
}
/* ===== RESPONSIVE ===== */



@media (min-width: 768px) {
  /* dots */
  .owl-dots {
    display: none;
  }
  .owl-theme .owl-nav {
    display: block;
  }

  .md-f-left{
    text-align: left;
  }
  .md-f-right{
    text-align: right;
    
  }

}
